//FRAME-1//
section {

  h1,h2,p {margin: 0;}
    .frame1-content {
        display: flex;
        align-items: center;
        padding: 40px;
        gap: 75px;

        .left-content {
            flex: 50%;
            display: flex;
            flex-direction: column;
            gap: 20px;
          h1 {
            font-weight: 700;
            font-size: 55px;
            line-height: 82px;
            span {
                color: #FC8B00;
            }
          }
            
           
            p {
                
                font-weight: 700;
                font-size: 15px;
                line-height: 24px;
                color: rgb(12, 12, 12, 0.6);
            }
            
        }
        .right-content {
            flex: 50%;
         display: flex;
         justify-content: flex-end;
         
           
            
           
        }
    }
}

//FRAME-2//

section {
  .frame22-content {
     display: flex;
     align-items: center;
     padding: 40px;
     margin-top: 40px;
     gap: 45px;
    
      .left-content {
        flex: 1;
          display: flex;
          flex-direction: column;
          gap: 20px;
          color: #033454;
        h1 {
          font-weight: 500;
          font-size: 50px;
          line-height: 71px;
        
        }
          
          p {
              
              font-weight: 400;
              font-size: 25px;
              line-height: 35px;
              
          }
          
      }
      .right-content {
        flex: 1;
       img {
        width: 100%;
       }
      
       
         
          
         
      }
  }
}

//FRAME-3//

section {
  .frame3-content {
     display: flex;
     align-items: center;
     padding: 40px;
     margin-top: 40px;
     gap: 45px;
    
    
      .left-content {
     
        flex: 1;
          display: flex;
          flex-direction: column;
          gap: 20px;
          color: #033454;
        h1 {
          font-weight: 500;
          font-size: 50px;
          line-height: 71px;
        
        }
          
          p {
              
              font-weight: 400;
              font-size: 25px;
              line-height: 35px;
              
          }
          
      }
      .right-content {
        flex: 1;
       img {
        width: 100%;
       }
      
       
         
          
         
      }
  }
}



@media (max-width: 600px) {
    section {
        .frame1-content {
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 22px;
           
            gap: 75px;
    
            .left-content {
                flex: 50%;
                display: flex;
                flex-direction: column;
                gap: 20px;
              h1 {
                font-weight: 700;
                font-size: 31px;
                line-height: 47px;
                text-align: center;
                span {
                    color: #FC8B00;
                }
              }
                
               
                p {
                    text-align: center;
                    font-weight: 700;
                    font-size: 9.5px;
                    line-height: 15px;
                    color: rgb(12, 12, 12, 0.6);
                }
                
            }
            .right-content {
              img {
                width: 80%;
                margin: 0 auto;
              }
           
             
               
                
               
            }
        }
    }

//FRAME-22 MOBILE//
    section {
      .frame22-content {
         display: flex;
         flex-direction: column-reverse;
         align-items: center;
         padding: 22px;
         margin-top: 0px;
         gap: 24px;
        
          .left-content {
            flex: 1;
              display: flex;
              flex-direction: column;
              gap: 20px;
              color: #033454;
            h1 {
              font-weight: 500;
              font-size: 30px;
              line-height: 40px;
            
            }
              
              p {
                  
                  font-weight: 400;
                  font-size: 14px;
                  line-height: 20px;
                  
              }
              
          }
          .right-content {
            flex: 1;
           img {
            width: 100%;
           }
          
           
             
              
             
          }
      }
    }

    //FRAME-3 MOBILE//
    section {
      .frame3-content {
         display: flex;
         flex-direction: column;
         align-items: center;
         padding: 22px;
         margin-top: 0px;
         gap: 24px;
         
        
        
        
          .left-content {
            text-align: start;
            flex: 1;
              display: flex;
              flex-direction: column;
              gap: 20px;
              color: #033454;
              h1 {
                font-weight: 500;
                font-size: 30px;
                line-height: 40px;
              
              }
                
                p {
                    
                    font-weight: 400;
                    font-size: 14px;
                    line-height: 20px;
                    
                }
              
          }
          .right-content {
            flex: 1;
           img {
            width: 100%;
           }
          
           
             
              
             
          }
      }
    }
}